body {
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 60%;
    margin: auto;
}
p {
    line-height: 1.5;
}

h2, h1 {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
}