body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 60%;
    margin: auto;
}
p {
    line-height: 1.5;
}

h2, h1 {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
}

ul {
    margin-bottom: 1.5rem; /* Space between unordered lists */
}

ul li {
    margin-bottom: 1rem; /* Optional: Adds space between list items within a list */
}