* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
}
  
body {
    margin: 0;
    padding-top: 4.5rem;
    color: white;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.orange-header {
    background-color: #efe5da;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #eb7134;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.brand-name a {
    font-family: 'Oswald';
    font-size: 2.5rem;
    color: #752700;
    text-decoration: none;
}

nav {
    color: white;
    font-size: 2.5rem;
}

#hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
}

#hamburger-menu a i {
    color: white; /* Explicitly set the color for the icon */
}

.menu-links {
    padding-top: 1rem;
    display: none;
}

.menu-links ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.menu-links ul li a:hover {
    color: white;
}

/* Media Query for Large Screens (Min-width: 768px) */
@media (min-width: 768px) {
    body {
        padding-top: 90px; 
    }

    #hamburger-menu {
        display: none; 
    }

    .menu-links {
        display: block; 
    }

    .menu-links ul {
        display: flex;
    }
}
