* {
    box-sizing: border-box;
}

/* Mobile-first styles (default for extra-small screens) */
html, body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #f8f9fa;
}

body {
    margin: 0;
    padding-top: 4.5rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem; 
    background-color: #ffffff;
    box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 0.625rem 0.625rem;
    z-index: 9999;
}

.brand-name a {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #333;
    text-decoration: none;
}

nav {
    color: black;
    font-size: 1rem;
}

#hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 2rem;
}

#hamburger-menu a i {
    color: black;
}

.menu-links {
    padding-top: 1rem;
    display: none;
}

.menu-links ul {
    display: flex;
    list-style: none;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
}

.menu-links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
    transition: color 0.3s;
}

.menu-links ul li a:hover {
    color: #ff9e35e0;
}

/* Main Content Styling */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.custom-page .card {
    width: 20rem;
    height: 16rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    border: none;
    flex-direction: column;
    flex: 0 0 250px;
}

.pose {
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
}

.card-body {
    text-align: center;
}

.card-title, .pose-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.btn-dark {
    background-color: #47bfff;
    border: none;
    padding: 0.625rem 1rem; 
    transition: background 0.3s;
}

.btn-dark:hover {
    background-color: #ff9e35e0;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}
.day {
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 150px;
    background-color: #f8f9fa;
}
.card {
    margin-top: 10px;
}

.timer-container {
    display: none;
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .timer {
    text-align: center;
  }

  .video-container {
    text-align: center;
  }
  
/* Media Query for Large Screens */
@media (min-width: 768px) {
    body {
        padding-top: 5.625rem; 
    }

    #hamburger-menu {
        display: none;
    }

    .menu-links {
        display: block;
    }

    .menu-links ul {
        display: flex;
    }

    .timer-container {
        display: block;
    }
}
